// Variables

// # Contents
// 1. Theme Skin
// 2. Theme Settings
// 3. Theme Variables
// 4. Plugin Variables


// 1. Theme Skin
$primary-color: #c59b9c;

$third-font-family: "Nanum Brush Script",sans-serif;
// 2. Theme Settings
// 3. Theme Variables

@include set(
    (
		body: (
			letter-spacing: .2px
		),

        header: (
			middle: (
				color: $primary-color-dark,
				padding-top: 1.5rem,
				padding-bottom: 1.5rem
			),

			dropdown: (
				color: #999,
				space: 2.4rem,

				font: (
					size: 1.2rem
				),

				item: (
					space: 0,
					padding: 3.5px 7px
				)
			),

			icon: (
				size: 2.7rem,
				space: 1.8rem
			),

			logo: (
				max-width: 11.3rem,

				sticky: (
					max-width: 100px,
					transform: scale(.8),
					transform-origin: left center
				)
			),

			search: (
				height: 34px,
				background: #fff,

				border: (
					width: 5px,
					color: #e7e7e7
				),

				toggle: (
					size: 16px,
					weight: 900
				),

				select: (
					max-width: 13rem,
					padding-left: .8rem,
					padding-right: 1.5rem
				),

				btn: (
					size: 1.6rem,
					min-width: 40px,
					color: #606669
				)
			),
		),
		
		menu: (
			main: (
				text-transform: none,
				font-size: 1.4rem,
				font-weight: 500,

				top: (
					cut-start-end: true,
					space: 0,
					color: $primary-color-dark,
					active-color: $primary-color,
					font-family: $second-font-family,
					font-size: 1.3rem,
					letter-spacing: .13px,
					padding: 2.3rem 1.6rem 2.4rem
				)
			),
			mega: (
				family: $font-family,
				size: 12px
			)
		),

		banner: (
			layer: (
				left: 0,
				right: 0
			)
		),

		breadcrumb: (
			color: $body-text,
			letter-spacing: .05em,
			border-top: 1px solid #e7e7e7,
			border-bottom: 1px solid #e7e7e7,
			padding: 1.7rem,

			font: (
				family: $second-font-family,
				size: 10px,
				weight: 500
			),

			divider: (
				size: 17px,
				space: 1.2rem
			)
		),

		category: (
			sidebar: (
				space: 3rem,
				padding: false,
				border: false,

				title: (
					color: #000,
					size: 1.2rem,
					padding-bottom: 6px,
					border-bottom: 1px solid rgba(0,0,0,0.1)
				)
			)
		),

		info-box: (
			icon: (
				size: 4rem
			)
		),

		footer: (
			link-active-color: $primary-color-dark,
			line-height: 26px,

			middle: (
				border-top: 1px solid #e1e1e1,
				padding-top: 6.4rem,
				padding-bottom: 2.2rem
			),
			bottom: (
				border-top: 1px solid #e1e1e1,
				padding-top: 2.4rem,
				padding-bottom: 2.4rem
			),
			widget: (
				title: (
					color: #2b2b2d,
					weight: 600,
					transform: none,
					margin: 0 0 1.5rem
				)
			),
			social-icon: (
				color: $primary-color-dark,
				font-size: 1.4rem,
				size: 3rem,
				space: 2px
			)
		)
    )
);

// 4. Plugin Variables