
// Variables

// # Contents
// 1. Theme Skin
// 2. Theme Settings
// 3. Theme Variables
// 4. Plugin Variables


// 1. Theme Skin
$secondary-color: #e8465f;
$primary-color: #183f72;
// 2. Theme Settings
// 3. Theme Variables

@include set(
	(
		header: (
			top: (
				font-size: 1.3rem,
				padding-top: .9rem,
				padding-bottom: .8rem
			),
			middle: (
				padding-top: 1.6rem,
				padding-bottom: 1.6rem,
				color: $primary-color-dark
			),
			logo: (
				max-width: 133px,
				max-width-mobile: 90px
			),
			dropdown: (
				space: 15px,
			),
			top-notice: (
				link-background: #0075af
			),
			search: (
				height: 40px,
				divider: 1px solid #fff,

				border: (
					width: 5px,
					color: $primary-color,
					inline-width: 1px
				),
				btn: (
					min-width: 40px
				),
				select: (
					padding-left: 15px,
					padding-right: 14px
				)
			),
			separator: (
				space: 14px
			),
			social-icon: (
				space: 6px,
				font-size: 1.5rem,
				color: #333,
			)
		),
		menu: (
			main: (
				top: (
					space: 35px
				)
			)
		),
		footer: (
			widget: (
				title: (
					color: #fff
				)
			)
		),
		breadcrumb: (
			border-bottom: 0
		)
	)
);

// 4. Plugin Variables