
// Variables

// # Contents
// 1. Theme Skin
// 2. Theme Settings
// 3. Theme Variables
// 4. Plugin Variables


// 1. Theme Skin
$primary-color: #3050ff;
$secondary-color: #ee8379;

// 2. Theme Settings
// 3. Theme Variables

@include set(
	(
		header: (
			color: $primary-color-dark,

			top-notice: (
				padding: .9rem 2rem 1rem,
			),

			top: (
				padding-top: 7px,
				padding-bottom: 7px,
				font-size: 1.1rem,
				font-weight: 400,
				letter-spacing: .017em,
				color: #666
			),

			middle: (
				padding-top: 1.1rem,
				padding-bottom: 1.1rem
			),

			bottom: (
				padding-top: 6px,
				padding-bottom: 1.8rem,

				sticky: (
					height: 66px
				)
			),

			separator: (
				color: rgba(255, 255, 255, .18),
				space: 1rem 0 1.5rem
			),

			logo: (
				max-width: 132px,

				sticky: (
					max-width: 100px
				)
			),

			search: (
				height: 45px,
				divider: 1px solid #fff,

				border: (
					width: 5px,
					color: $primary-color
				),

				btn: (
					min-width: 40px
				),

				select: (
					padding-left: 15px,
					padding-right: 14px
				)
			),

			icon: (
				space: 2.1rem
			),

			social-icon: (
				font-size: 14px,
				space: 2px,
				size: 3rem,
				color: $primary-color-dark
			)
		),

		menu: (
			mega: (
				width-3col: 650px,
			),
			main: (
				top: (
					padding: 1.6rem 2rem,
					letter-spacing:  -0.027em,
					font-weight: 600,
					font-size: 1.4rem,
					space: 2.1rem,
					active-color: #282d3b,
					color: #444444
				)
			)
		),

		breadcrumb: (
			padding: 1.3rem,
			border-bottom: 1px solid #eee,
		),

		footer: (
			color: #777,
			link-active-color: $primary-color-dark,

			widget: (
				title: (
					margin: 0 0 1.9rem,
					size: 1.5rem,
					weight: 700,
					color: $primary-color-dark,
					transform: uppercase
				),

				link: (
					space: 1rem
				)
			),

			top: (
				padding-top: 4.7rem,
				padding-bottom: 1.5rem,
				border-top: 1px solid #e7e7e7
			),

			middle:(
				padding-top: 4rem,
				padding-bottom: 3.2rem,
				border-top: 1px solid #e7e7e7
			),

			bottom: (
				padding-top: 2rem,
				padding-bottom: 5.2rem,
				color: #777,
				background: #fff,
				border-top: 1px solid #e7e7e7
			),

			social-icon: (
				font-size: 1.4rem,
				color: $primary-color-dark,
				border: 1px solid #e7e7e7,
				space: 10px,
				size: 40px
			)
		)
	)
);

// 4. Plugin Variables

// 4. Plugin Variables