//Pages

// # Contents
// 1. Product Page
//    1.1) Product Single Filter
//    1.2) Product Single Tab
//    1.3) Product Widget Conainer
//    1.4) Others

// 2. Category Page
//    2.1) Home Slider
//    2.2) Toolbox
//    2.3) Others

// 3. Responsive

// 1. Product Page
// 1.1) Product Single Filter
.product-single-filter label {
    margin-right: 5.2rem;
}

// 1.2) Product Single Tab
.product-single-tabs .nav.nav-tabs .nav-item .nav-link {
	padding: 1.1rem 0 1.3rem;
    font-family: $second-font-family;
}

// 1.3) Product Widget Conainer
.product-widget-container {
	.section-sub-title {
		letter-spacing: -.02em;
	}

	.product-widget {
		figure {
			margin-right: 1.5rem;
		}
	
		.product-details {
			margin-bottom: 4px;
		}
	}
}

// 1.4) Others
.products-section {
	h2 {
		padding-top: 1px;
		margin-bottom: 2.4rem;
		font-size: 1.6rem;
	}

	.product-title {
		margin-bottom: .5rem;
	}
}

.product-single-details .clear-btn {
    margin-left: -4px;
}

// 2. Category Page
// 2.1) Home Slider
.category-home-slider.home-slider {
	margin-bottom: 2.8rem;

	.banner {
		font-size: 1.4rem;
	}

	.banner-layer {
		padding-bottom: .8rem;
		left: 7.3%;
	}

	.home-slide1 {
		h4 {
			letter-spacing: 0.097em;
		}

		h2 {
			font-size: 2.8em;
			letter-spacing: .024em;
		}

		h3 {
			font-size: 5em;
		}

		h5 {
			margin-top: 3px;
			font-size: .85em;
			font-weight: 500;
		}

		.coupon-sale-text {
			padding: 5px 6px 5px 8px;
			margin: 0 .56em 0 .5em;
			font-size: .95em;
		}
	}

	.coupon-sale-text em {
		font-size: 1.8em;
	}

	.btn {
		padding: 1em 3.1em;
		font-size: 1.1rem;
		margin-top: -10px;
		letter-spacing: .04em;
	}

	img {
		height: 280px;
		object-position: center top;
	}

	.home-slide3,
	.home-slide2 {
		.banner-layer {
			padding-top: 1.5rem;
			font-size: 1.45rem;
		}

		h4 {
			letter-spacing: .094em;
		}

		h2 {
			font-size: 3.5em;
		}

		h5 {
			font-size: 1em;
			letter-spacing: -.024em;

			b {
				margin-left: .5rem;
				letter-spacing: 0;
			}
		}

		em {
			font-size: 1.9em;
			margin-top: .5rem;
			display: inline-block;
		}

		.btn {
			padding: .8em 2.9em .9em;
			font-size: 1.2rem;
			margin-top: 0;
			letter-spacing: .02em;
			margin-left: 1px;
		}
	}

	.home-slide3 {
		.banner-layer {
			padding-top: 1.4rem;
		}

		h4 {
			padding-bottom: 1px;
			font-size: 1.05em;
			letter-spacing: .085em;
		}

		h2 {
			letter-spacing: 0.005em;
			font-size: 3.15em;
		}

		.btn {
			padding: .8em 2.6em .8em 2.7em;
			font-size: 1.3rem;
			letter-spacing: -.005em;
		}
	}
}

.sidebar-toggle {
	margin-right: .5rem;
}

// 2.2) Home Slider
.toolbox {
	label,
	.form-control {
		font-family: $second-font-family;
	}
}

// 2.3) Others
.products-group {
	.product-default {
		margin-bottom: 2.4rem;
	}
}

@media (min-width: 768px) {
	.products-section {
		padding-bottom: 1.2rem;
	}
}

@media (max-width: 576px) {
	.category-home-slider.home-slider {
		.banner {
			font-size: 1rem;
		}

		.home-slide3 .banner-layer,
		.home-slide2 .banner-layer {
			font-size: 1.1rem;
		}
	}
}